@import 'node_modules/@fontsource/poppins/index.css';
@import 'node_modules/@fontsource/poppins/600.css';
@import 'node_modules/@fontsource/poppins/700.css';
@import 'node_modules/@fontsource/poppins/800.css';

/*BG COLORS*/
$white-color:#ffffff;
$bg-very-ligth-grey-color:#f7f7f7;
$bg-ligth-grey-color:#d6d6d6;
$bg-grey-color:#cccccc;
$bg-main-color:#0088cc;
$bg-dark-main-color:#0074ad;
$bg-dark-grey-color:#404040;
$bg-very-dark-grey-color:#212529;/*triplo*/
/*$--bg-carbon-color:#4d5154; chuedre*/
$bg-dark-carbon-color:#1c2023;
/*$--??bg-ligth-carbon-color:#c5c5c5; chiedere
$--??bg-ligth-carbon-color:#00000008; chiedere*/
$black-color:#000000;

/*TEXT COLOR*/
$text-grey-color:#b7b7b7;
$text-dark-grey-color:#888888;
$text-main-color:#0088cc;
$text-7777-dark-grey-color:#777777;
$text-5555-dark-grey-color:#555555;
$text-4444-dark-grey-color:#444444;
$text-3333-dark-grey-color:#333333;
$text-2125-dark-grey-color:#212529; /*triplo*/

/*BORDER COLOR*/
$border-eeee-color:#f7f7f7; /*doppio*/
$border-eeee-color:#eeeeee;
$border-eded-color:#ededed;
$border-e2e2-color:#e2e2e2;
$border-d9d9-color:#d9d9d9;
$border-bfbf-color:#bfbfbf;
$border-0088-color:#0088cc;
$border-0055-color:#005580;
$border-2125-color:#212529;/*triplo*/
$border-0a0c-color:#0a0c0d;
$border-000f-color:#f0f0f0; /*chiedere*/

/*FONT*/
$main-font:"Poppins", sans-serif;